body {
  background-color: #3E3F41;
  text-align: center;
}

#perfil {
  display: none;
}
#saldo {
  display: none;
}
#calculo{
  display: none;
}

/*Diseño Login*/
#imgLogo{
  width: 40%;
  padding-top: 20%;
}
#title{
  font-size: 30px;
  text-align: center;
  color: #F6A800;
}
.btn-primary {
  background-color: #F6A800;
  color: black;
  width: 100%;
}
.rowFormLogin {
  text-align: center;
}
p{
  color: white;
}
#register {
  color: #F6A800;
  background-color: transparent;
  border: none;
}
#email #password {
  border-color: #F6A800;
}

/*Diseño Menu*/
.btnMenu{
  background-color: #F6A800;
  color: white;
  margin-top: 1%;
  margin-bottom: 4%;
  width: 100%;
}
/*diseño perfil*/
#username{
  margin-left: 20%;
  color: white;
}
#agregarTarjeta{
  width: 80%;
  margin-top: 3%;
  border: none;
  margin-left: 10%;
  background-color:whitesmoke;
}
#btnTarjeta{
  background-color: #F6A800;
  color: white;
  width: 80%;
  margin-top: 3%;
  margin-left: 10%;
}